body {
  background: #B58A9B;
  color: white;
}

td {
  font-family: weather;
  padding: 0.25rem;
  border: thin solid rgba(255, 255, 255, 0.25);
}


@font-face {
    font-family: weather;
    src: url('fonts/font.eot');
    src: url('fonts/font.eot?#i') format('embedded-opentype'),
         url('fonts/font.woff') format('woff'),
         url('fonts/font.ttf') format('truetype'),
         url('fonts/font.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}